@import "./styles2.css";

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    letter-spacing: -3%;
}

.nav_section{
    margin: 0 auto;
    height: 25px;
    padding-top: 33px;
}

.logo-link{
    display: inline-block;
    margin-right: 458px;
}

.logo{
    display: block;
    width: 127px;
    height: 22px;
}

.nav{
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
}

.nav-link{
    display: inline-block;
    margin-right: 60px;
    
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;

    font-size: 18px;
    color: #121212;
    text-decoration: none;
}

.nav-link:nth-child(4){
    margin-right: 0;
}

.nav-link:hover,
.nav-link-active{
    text-decoration: underline;
    color:  gray;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 125px;
}

h1{
    color: black;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 30px;
}

.first-foto {
    position: relative;
    margin-top: 30px;
    height: 500px;
    background-image: url("./img/first.png");
    background-size: contain;
     background-repeat: no-repeat;
     margin-bottom: 150px;
    
}

.first-text {
    position: absolute;
    padding-left: 40px;
    width: 450px;
    font-weight:400;
    font-size: 20px;
    line-height: 27px;
    color: white;
    padding-top: 359px;
} 
h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}

p.about{
    font-size: 45px;
    line-height: 62px;
    font-weight: 400;
    height: 366px;
    width: 1200px;
    margin-bottom: 30px;
    letter-spacing: -3%;
}

a.look{
    display: block;
    border: 1px solid #AD1818;
    width: 255px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: white;
    background-color: #AD1818;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;

}

.title{
    Size: 18px;
    line-height: 24px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.project_1{
   height: 450px;
   margin-bottom: 15px;
}
   

.project_name{
    font-size: 30px;
    line-height:  41px;
    font-weight:400;
    margin-bottom: 15px;
}

.project_arrow{
    text-decoration: none;
    font-size: 20px;  
    line-height:  28px;
    font-weight:400;
    color:#AD1818;
    margin-bottom: 90px;
}

.projects{
    list-style-type: none;
}

.block{
    margin-bottom: 90px;
}

.btn_full{
    display: block;
    border: 1px solid #AD1818;
    width: 100%;
    height: 153px;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    color:#AD1818;
    line-height:  41px;
    font-weight:400;
    font-size: 30px;
    line-height: 153px;
    width: 1150px;
}

.btn_full:hover{
    color: white;
    background-color: #AD1818;
}

.title_section{
    color: white;
    font-size: 18px;
    line-height: 25px;
    padding-top: 150px;
    margin-bottom: 30px;
}

.servis_name{
    color: white;
    font-size: 30px;
    line-height: 25px;
    font-weight:400;
}

.section{
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 125px;
    height: 1602px;
    background-color: black;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 90px;
    margin-bottom: 150px;
}

.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    column-gap: 11px;
    row-gap: 85px;
}

.btn_1{
    display: block;
    width: 100%;
    height: 153px;
    color: white;
    background-color: #AD1818;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    line-height:  41px;
    font-size: 30px;
    line-height: 153px;
    width: 1150px;
}

.price1,
.price2
{
    display: block;
    height: 40px;
    width: 163px;
    color: white;
    background-color: #AD1818;
    border-radius: 5px;

    position: absolute;
    text-align: center;
    text-decoration: none;
    line-height:  30px;
    font-size: 22px;
    line-height: 40px;
    margin-top: -358px;
    margin-left: 30px;
}

.price3,
.price4{
    display: block;
    height: 40px;
    width: 211px;
    color: white;
    background-color: #AD1818;
    border-radius: 5px;

    position: absolute;
    text-align: center;
    text-decoration: none;
    line-height:  30px;
    font-size: 22px;
    line-height: 40px;
    margin-top: -358px;
    margin-left: 30px;

}

.servis_1{
    position: relative;
}

.full_section{
    height: 717px;
    margin: 0 auto;
    background-image: url('./img/full_foto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.txt{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400px;
    line-height: 41px;
    padding-left: 125px;

    width: 440px;
    height: 82px;
    position: absolute;
    padding-top: 545px;
}

.contacts{
    padding-left: 125px;
    padding-top: 186px;
}

.contact{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    width: 90px;
    height: 25px;
    padding-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}

.contact::before{
    content: '';
    display: block;
    background-size: cover;
    background-image: url(./img/ic_phone.png);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 40px;
    left: -5px;

}

.number{
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    height: 60px;
    box-sizing: border-box;
    text-decoration: none;
    margin-bottom: -10px;
}

.email{
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    height: 60px;
    text-decoration: none;
    margin-bottom: 150px;
}

.email:hover,
.number:hover{
    color: grey;
    border-bottom: 2px solid gray;
    display: inline-block;

}


.footer{
    width: 100%;
    height: 230px;
    background-color: black;
}

.nav-end{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.nav_{
    display: inline-block;
    margin-right: 55px;
    margin-top: 70px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.nav_:nth-last-child(1){
    margin-right: 0px;
    margin-bottom: 70px;
}

.nav_:hover{
    color: gray;
}

.metrika{
    color: gray;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.review{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    column-gap: 91px;
}

.review_text{
    width: 460px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 28px;
    margin-left: -40px;
}

.big_review_text{
    width: 62%;
}

.review_title{
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 25px;
    margin-left: -40px;
}

