html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Manrope', sans-serif;
    letter-spacing: -3%;
}

.nav-container{
    margin: 0 auto;
    width: 1150px;
    height: 25px;
    padding-top: 33px;
}

.logo-link{
    display: inline-block;
    margin-right: 423px;
}

.logo{
    display: block;
    width: 127px;
    height: 22px;
}

.nav{
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
}

.nav-link{
    display: inline-block;
    margin-right: 60px;
    
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;

    font-size: 18px;
    color: #121212;
    text-decoration: none;
}

.nav-link:nth-child(4){
    margin-right: 0;
}

.nav-link:hover,
.nav-link-active{
    text-decoration: underline;
    color:  gray;
}

.container {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1400px;
    padding-left: 125px;
    padding-top: 70px;
    align-content: center;
    
}

h1{
    color: black;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 30px;
    height: 120px;
    width: 1000px;
}

.first-foto {
    position: relative;
    margin-top: 30px;
    height: 500px;
    width: 1150px;
    background-image: url("./img/first.png");
    background-size: contain;
     background-repeat: no-repeat;
     margin-bottom: 150px;
    
}

.first-text {
    position: absolute;
    padding-left: 40px;
    width: 450px;
    font-weight:400;
    font-size: 20px;
    line-height: 27px;
    color: white;
    padding-top: 359px;
} 
h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}

p.about{
    font-size: 45px;
    line-height: 62px;
    font-weight: 400;
    height: 366px;
    width: 1200px;
    margin-bottom: 30px;
    letter-spacing: -3%;
}

a.look{
    display: block;
    border: 1px solid #AD1818;
    width: 255px;
    height: 67px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: white;
    background-color: #AD1818;
    border-radius: 5px;
    font-size: 20px;
}

.title{
    Size: 18px;
    line-height: 24px;
    padding-top: 60px;
    margin-bottom: 30px;
}

.project_1{
   width: 1150x;
   height: 450px;
   margin-bottom: 15px;
}
   

.project_name{
    font-size: 30px;
    line-height:  41px;
    font-weight:400;
    margin-bottom: 15px;
}

.project_arrow{
    text-decoration: none;
    font-size: 20px;
    line-height:  28px;
    font-weight:400;
    color:#AD1818;
    margin-bottom: 90px;
}

.projects{
    list-style-type: none;
    margin: 0 auto;
    box-sizing: border-box;
    width: 1400px;
    padding: 125px;
    align-content: center;
}

.block{
    margin-bottom: 90px;
}

.btn_full{
    display: block;
    border: 1px solid #AD1818;
    width: 100%;
    height: 153px;

    text-align: center;
    text-decoration: none;
    color:#AD1818;
    line-height:  41px;
    font-weight:400;
    font-size: 30px;
    line-height: 153px;
}

.btn_full:hover{
    color: white;
    background-color: #AD1818;
}

.title_section{
    color: white;
    font-size: 18px;
    line-height: 25px;
    padding-left: 125px;
    padding-top: 150px;
    margin-bottom: 30px;
}

.servis{
    margin-left: 125px;
    margin-bottom: 70px;
}

.servis_name{
    color: white;
    font-size: 30px;
    line-height: 25px;
    font-weight:400;
}

.section{
    height: 1844px;
    height: 1400px;
    background-color: black;
    list-style-type: none;
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;

}

.full_section{
    height: 717px;
     width: 100%;
    margin: 0 auto;
    background-image: url('./img/full_foto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.txt{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400px;
    line-height: 41px;
    padding-left: 125px;

    width: 440px;
    height: 82px;
    position: absolute;
    padding-top: 545px;
}

.contacts{
    padding-left: 125px;
    padding-top: 186px;
}

.contact{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    width: 90px;
    height: 25px;
    padding-bottom: 30px;
    box-sizing: border-box;
    position: relative;
}

.contact::before{
    content: '';
    display: block;
    background-size: cover;
    background-image: url(./img/ic_phone.png);
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 40px;
    left: -5px;

}

.number{
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    height: 60px;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-decoration: none;
}

.email{
    color: gray;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    height: 60px;
    text-decoration: none;
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);
    display: inline-block;
}

.footer{
    width: 100%;
    height: 230px;
    background-color: black;
}

.nav-end{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.nav_{
    display: inline-block;
    margin-right: 55px;
    margin-top: 70px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.nav_:nth-last-child(1){
    margin-right: 0px;
    margin-bottom: 70px;
}

.nav_:hover{
    color: gray;
}

.metrika{
    color: gray;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;

}
